{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Vehículos y Mantenciones</title>
</head>
<body>
    <header>
        <img src="{% static 'INACAP.png' %}" alt="Logo INACAP" width="180">
        <h1>Sistema de Control de Vehículos y Mantenciones</h1>
        <p>Plataforma para la gestión operativa, trazabilidad de flotas y auditoría de mantenimientos</p>
    </header>

    <main>
        <section>
            <h2>Saludo</h2>
            <p>Bienvenido(a) al portal centralizado de gestión para el Control de Vehículos y Mantenciones. 
            A través de este entorno, se centralizan los procesos de administración, supervisión de bitácoras, histórico de intervenciones mecánicas y asignación de recursos en tiempo real.</p>
        </section>

        <section>
            <h2>Objetivos y Capacidades del Sistema</h2>
            <p>La plataforma facilita la coordinación continua entre conductores, administradores de flota y talleres mecánicos autorizados. 
                Entre sus funciones principales destaca el control preventivo y correctivo de vehículos, la validación de reglas de negocio, 
                la emisión de alertas de mantenimiento y la generación de indicadores clave para la toma de decisiones estratégicas.</p>
            
            <ul>
                <li><strong>Control de Flotas:</strong>Hoja de vida del vehículo, estado operativo, documentación al día y asignación a conductores.</li>
                <li><strong>Gestión de Talleres y Mantenimientos:</strong> Registro detallado de repuestos, órdenes de trabajo, diagnósticos y trazabilidad de costos.</li>
                <li><strong>Seguridad y Auditoría:</strong> Registro histórico e inalterable de eventos, gestión de permisos por perfil y control de acceso seguro.</li>
            </ul>
        </section>

        <section>
            <img src="{% static 'Django.jpeg' %}" alt="Logo Django Back-End" width="150">
        </section>
    </main>

    <footer>
        <p>Programación Back End - INACAP Sede Temuco [Primavera 2026]</p>
        <p>Estudiante: Andrés Lientur Hormazábal Fuentes</p>
        <p>Docente: Erick Bailey Rebolledo</p>
    </footer>
</body>
</html>